@use "sass:map";

:root {
  --box-decoration-base: 2em;
  /* Theme */
  @each $key, $value in $light-colors {
    --color-#{$key}: #{$value};
  }

  /* Spaces */

  --spaces-padding-base: #{map.get($dimensions, spaces, padding, base)};
  --spaces-gap-base: #{map.get($dimensions, spaces, gap, base)};
  /* Breakpoints */
  @each $key, $value in map.get($dimensions, page) {
    --page-#{$key}: #{$value};
  }

  /* Transitions */
  --transition-duration: 0.3s;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: minmax(100px, auto) 1fr minmax(20px, auto);
  min-height: 100vh;
  grid-template-areas:
    "header"
    "main"
    "footer";
  color: var(--color-shadows);
  background: var(--color-lights);
}
